option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:ec2:instances:
    InstanceTypes: t2.micro,t3.micro,t3.large
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health