option_settings:
  aws:ec2:instances:
    InstanceTypes: c6i.8xlarge,c5.9xlarge
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    HealthCheckInterval: 60
    HealthCheckTimeout: 10
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:741204600220:certificate/43a3ea7e-5555-489a-b076-a1fefc1e4a75