LOCAL_CURRENCY_PROVIDER="celo"
LOCAL_CURRENCY_RPC_HOST="http://localhost:7545"
LOCAL_CURRENCY_ADDRESS="0x492635319ede85deff2DF8A819119F26D80c5dDf"
LOCAL_CURRENCY_MNEMONIC="your twelve word seed phrase"

AWS_REGION=eu-west
AWS_POOL_ID=eu-west-1_Mynki1a6j
AWS_CLIENT_ID=72vn0vds8fibjrh19se81g0aot
AWS_TOKEN_TYPE=access