# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage

# Ignore test strings
src/test/utils.ts
src/test/Utils.crypto.test.ts
src/test/Dwolla.server.test.ts
src/test/APIAuthService.integration.test.ts
src/test/Reports.test.ts